{% extends 'base.html.twig' %}
{% block body %}
	<h1>Formulaire d'utilisateur</h1>
	{{ form_start(form) }}
	<div>
		{{ form_label(form.name) }}
		{{ form_widget(form.name) }}
		{% if form.name.vars.errors|length > 0 %}
			<div class="error">
				{% for error in form.name.vars.errors %}
					<p>{{ error.message }}</p>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div>
		{{ form_label(form.email) }}
		{{ form_widget(form.email) }}
		{% if form.email.vars.errors|length > 0 %}
			<div class="error">
				{% for error in form.email.vars.errors %}
					<p>{{ error.message }}</p>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div>
		{{ form_widget(form.submit) }}
	</div>
	{{ form_end(form) }}
{% endblock %}
